<app-header></app-header>
<body>
<main>

  <section class="main-section">
    <div class="div-img">
      <img class="profile-img" ngSrc="./assets/elias7.png" priority width="300" height="305">
    </div>
    <div class="info-block">
      <div class="name-function-info">
        <h1>Elias Fernandes</h1>
        <p>Software Developer</p>
      </div>
      <div class="img-links">
        <a class="github-img" href="https://github.com/eliasfernandescout" target="_blank">
          <img ngSrc="./assets/icons8-github-50.png" priority width="50" height="50">
        </a>
        <a href="https://www.linkedin.com/in/eliasfernandescout/" target="_blank">
          <img class="linkedin-img" ngSrc="./assets/icons8-linkedin-50.png" priority width="50" height="50" alt="">
        </a>
      </div>
    </div>

  </section>
</main>
</body>
