body{
  background-color: #383737;
}

.main-section{
}

#div-img{
  //background-color: aqua;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img{
  border-radius: 250px;
  border-style: solid;
  border-color: #ff6200;

}
