<app-header></app-header>
<body>
<main>

  <section class="main-section">
    <div class="div-img">
      <img class="profile-img" ngSrc="./assets/elias7.png" priority width="300" height="305">
    </div>
    <div class="info-block">
      <div class="name-function-info">
        <h1>Elias Fernandes</h1>
        <p>Software Developer</p>
      </div>
      <div class="img-links">
        <a class="github-img" href="https://github.com/eliasfernandescout" target="_blank">
          <img ngSrc="./assets/icons8-github-50.png" priority width="50" height="50">
        </a>
        <a href="https://www.linkedin.com/in/eliasfernandescout/" target="_blank">
          <img class="linkedin-img" ngSrc="./assets/icons8-linkedin-50.png" priority width="50" height="50" alt="">
        </a>
      </div>
    </div>

    <div class="about-p">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </div>

    <div class="exp-section">
      <h1>EXPERIENCIA PROFISSIONAL</h1>
      <div class="exp-block">
        <h2>
          ACCENTURE - Software Engineering Analyst
        </h2>
        <p>
          mar 2022 - ATUAL
        </p>
        <p class="principal-exp">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
      <div class="exp-block">
        <h2>
          MATTEI SERVICES INC - Software Engineering Analyst
        </h2>
        <p>
          ago de 2021 - mar de 2022
        </p>
        <p class="exp-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
      <div class="exp-block">
        <h2>
          SECURITY BOX - Backend Developer
        </h2>
        <p>
          jun de 2021 - set de 2021
        </p>
        <p class="exp-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
      <div class="exp-block">
        <h2>
          MOBITYPE - Backend Developer
        </h2>
        <p>
          fev de 2021 - jun de 2021
        </p>
        <p class="exp-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
    </div>
    <div class="project-section">
      <div class="project-header">
        <h1>PROJETOS</h1>
      </div>
      <div class="project-body">

      </div>
    </div>


  </section>
</main>
</body>
